<!DOCTYPE html>
<html>
    <head>
        <title>Lessons</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="products.js"></script>
    </head>
    <body>
        <div id="app">
            <Div class="row m-3">
                <div class="col-3">
                    <h4>{{title}}</h4>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            Sort
                            <label>
                                <input name="sort" value="price" v-model="sort" type="radio">Price
                            </label>
                        </div>
                        <div class="col">
                            Order
                            <label>
                                <input name="order" value="asc" v-model="order" type="radio">Ascending<br>
                                <input name="order" value="des" v-model="order" type="radio">Descending
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" v-on:click="showCheckout" v-if="cart.length > 0">
                        {{ cartItemCount }} Cart
                    </button>
                    <button class="btn btn-secondary" disabled v-else>
                        {{ cartItemCount }} Cart
                    </button>
                </div>
            </Div>
            
            <div class="row">
                <div class="col-3" v-for="product in sortproducts(sort, order)">
                    <div class="card">
                        <img v-bind:src="product.image" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{product.subject}}</h5>
                            <p class="card-text">Price: {{product.price}}</p>
                            <p class="card-text">Location: {{product.location}}</p>
                            <p class="card-text">Space left: {{product.spaces - cartItems(product)}}</p>
                            <button class="btn btn-primary" v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to Cart</button>
                            <button class="btn btn-secondary" disabled v-else>Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            let app = new Vue({
                el: "#app",
                
                data:{
                    title: "Lessons",
                    products: products,
                    cart: [],
                    lessonStore: true,
                    sort: "price",
                    order: "asc"
                },
                methods:{
                    addToCart: function (lesson) {
                        this.cart.push(lesson);
                    },
                    canAddToCart: function (lesson) {
                        return lesson.spaces > this.cartItems(lesson);
                    },
                    cartItems(id) {
                        let count = 0;
                        for (let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i] === id) {
                                count++;
                            }
                        }
                        return count;
                    },

                    showCheckout: function(){
                        this.lessonStore = this.lessonStore ? false : true;
                    },
                    sortproducts: function(sort, order){
                        let productsArray = this.products.slice(0);
                            if (order == "asc") {
                                function compare(a, b) {
                                    if (a.price > b.price)
                                        return 1
                                    if (a.price < b.price)
                                        return -1
                                    return 0
                                }
                                return productsArray.sort(compare)
                            } if (order == "des") {
                                function comparePrice(a, b) {
                                    if (a.price > b.price)
                                        return -1
                                    if (a.price < b.price)
                                        return 1
                                    return 0
                                }
                                return productsArray.sort(compare)
                            }
                    }
                },
                computed:{
                    cartItemCount: function () {
                        return this.cart.length;
                    },
                }
                
            })
        </script>
    </body>
</html>